* {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge supported by Chrome, Edge, Opera and Firefox */
}

body {
    background-color: #1e1e1e !important;
    color: rgba(255,255,255,0.87) !important;
    overflow-x: hidden;
}

.navbar {
    background-color: rgb(45,45,48);
}

#sidebarMenu {
    background-color: rgb(41,41,41);
}

.sidebar-heading {
    color: rgb(174, 174, 174);
}

.nav-link:link, .nav-link:visited {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.87);
}

.nav-link:hover {
    color: rgba(255, 255, 255, 0.95);
}

.nav-link:active {
    text-shadow: 4px 4px 6px #000000;
}

a:hover {
    color: rgba(255, 255, 255, 0.95);
}

.active {
    font-weight: bold;
}

.card {
    background-color: rgba(255, 255, 255, 0.07) !important;
    width: 100%;
}

.card:hover {
    background-color: rgba(255, 255, 255, 0.09) !important;
    cursor: pointer;
}

.card-body {
    padding: 0px;
}

.red {
    color: #dc3545;
    font-weight: bolder;
}

.green {
    color: #28a745;
    font-weight: bolder;
}

.blue {
    color: rgba(0,122,204,0.87);
    font-weight: bolder;
}

.alerts {
    background-color: rgba(0, 0, 0, 0.23);
    border-top: 1px rgba(255,255,255,0.61) solid;
    padding: 2rem;
    position: relative;
}

.fa-circle {
    color: cornflowerblue;
}

.alerts {
    padding: 2rem;
}

.alerts > .fa-circle {
    display: none;
    position: absolute;
    top: 45%;
    left: .5rem;
}

.alerts:hover {
    background-color: rgba(255, 255, 255, 0.09) !important;
    cursor: pointer;
}

.alerts:active {
    background-color: rgba(255, 255, 255, 0.09) !important;
    cursor: pointer;
    border: 1px solid white !important;
}

.messagebox > p {
    margin: 0px;
}

.messagebox > p:first-child {
    font-weight: bold;
}

.unread > .fa-circle {
    display: block;
}

@media only screen and (max-width: 767px) {
    #sidebarMenu {
        z-index: 1021;
        top: 0px;
    }
}